# Folder info files
.DS_Store
.fold*
.localized

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-*

# Build & dist
node_modules/
build/
.env.local
.env.*.local

# OS
Thumbs.db
.AppleDouble
.LSOverride
